.form:target{
			visibility: visible;
			opacity: 1;
			}
			
.form {
			text-align: center;
			transition: all 0.4s;
			visibility: hidden;
			opacity: 0;
			color:white;
		}

.form{
    height: 500px;
    width: 40%;
    position: absolute;
    top: 30%;
    left: 30%;
    text-shadow: 0px 0px 5px black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid white;
    background-color: transparent;
    backdrop-filter: blur(60px);
    box-shadow: 0px 0px 10px 1px cyan;
}

.close{
		    color:white;
		    float: right;
		    padding: 1px 10px;
		    font-weight:bold;
		    font-size: 30px;
		    background: cyan;
		    text-decoration:none;
		    border-top-right-radius: 19px;
}

.text-input{
    background: transparent;
    border: transparent;
    border-bottom: 2px solid white;
    color: cyan;
    height: px;
    width: 70%;
    outline-color: transparent;
    font-family: Consolas, Courier,monospace;
}

.button{
    height: 50px;
    width: 70%;
    border: 2px solid cyan;
    background: cyan;
    font-size: 23px;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    outline-color: transparent;
    font-family: Consolas, Courier,monospace;
}
.button:active{
    background: #80ffff;
}

.register a{
    color: cyan;
    font-size: px;
}
